.body {
    overflow-x: hidden;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: white;
    font-family: "Open Sans", arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 93%;
    z-index: 100;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: 10px 10px; */
}



.select option {
    background-color: white
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar {}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 22px;
    color: #ee2b7f;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right-lang {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 8px;
    height: 34px;
    width: 75px;
    padding-right: 15px;
    transition: background-color 0.2s, transform 0.2s;
}

.select {
    height: 5px;
    width: 5px;
    cursor: pointer;
    border: 0px solid white;
}

.navbar-right-lang:hover {
    background-color: #f5f5f5;
    /* transform: scale(1.05);  */
    transition: background-color 0.2s, transform 0.2s;
}

.navbar-signbtn {
    font-size: 14px;
    /* padding: 10px 20px; */
    height: 32px;
    width: 75px;
    border: 1px solid #ee2b7f;
    border-radius: 8px;
    margin-right: 15px;
    background-color: transparent;
    color: #ee2b7f;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 0.1s;
}

.navbar-btn {
    font-size: 14px;
    /* padding: 10px 20px; */
    height: 32px;
    width: 75px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-right: 20px;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 0.1s;
}


.navbar-signbtn:hover {
    background-color: #d6206f;
    color: white;
    height: 38px;
    width: 80px;
    transition: 0.2s;
}

.navbar-btn:hover {
    background-color: #f3f3f3;
    color: black;
    height: 38px;
    width: 80px;
    transition: 0.2s;
}

.navbar-signbtn {
    background-color: #ee2b7f;
    color: white;
}

/* .lang {
    margin-left: 5px;
} */

.navbar-lang {
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.input {
    margin-top: 65px;
    width: 700px;
    padding: 62px;
}

.heading {
    font-size: 40px;
    margin-bottom: 40px;
}

.cities-heading {
    padding-top: 120px;
    padding-left: 65px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

/* 
 .cities-grid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    gap: 30px;
} 


.city {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 22%;
    box-sizing: border-box;
}

.city-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
} */

.inputGroup {
    background-color: white;
    width: 760px;
    height: 80px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inp {
    border-radius: 8px;
    border: 1px solid black;
    height: 25px;
    padding: 12px;
    margin-left: 20px;
    margin-top: 15px;
    width: 76%;
    opacity: 0.6;
    padding-left: 15px;
    margin-right: 20px;
}

/* .hero {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
} */
.btn {
    padding: 17px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: 1px solid #ee2b7f;
    background-color: #ee2b7f;
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover {
    padding: 19px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: 1px solid #c9296e;
    background-color: #c9296e;
    transition: 0.1s;
}

.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 25px;
    margin-left: 100px;
}



@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .navbar-left h2 {
        font-size: 20px;
    }

    .navbar-btn,
    .navbar-signbtn {
        padding: 8px 16px;
        font-size: 12px;
    }
}


.web {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #f7f7f7;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.image {
    position: relative;
    margin-left: 0px;
    right: -2%;
    flex-shrink: 0;
}

.image img {
    height: 600px;
    width: 130%;
    display: block;
}

.text {
    /* padding: 40px; */
    padding-top: 60px;
    padding-left: 65px;
    font-size: 17px;
    padding-bottom: 10px;
}

.container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}

.container img {
    width: 100%;
    height: auto;
    position: relative;
    top: -260px;
}

.add {
    border-radius: 20px;
    height: 300px;
    width: 615px;
    border: 0px solid black;
    position: absolute;
    top: 177%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.add-text {
    font-size: 18px;
    padding-top: 15px;
}

.add-btn {
    padding: 17px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: 1px solid #ee2b7f;
    background-color: #ee2b7f;
    cursor: pointer;
    transition: 0.1s;
}

.add-btn:hover {
    padding: 19px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: 1px solid #c71261;
    background-color: #c71261;
    cursor: pointer;
    transition: 0.1s;
}








.cities {
    display: flex;
    justify-content: center;
    /* Center the grid within the container */
}

.cities-grid {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping to the next row */
    gap: 5px;
    max-width: 1340px;
    /* Set a max-width to control the grid's width */
}







.city {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.city-img {
    width: 310px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transition: 0.2s;
}

.city-img:hover {
    /* cursor: pointer;            
    transform: scale(1.1);
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    height: 280px;
    width: 265px;
    transition: 0.4s; */
    /* expand on hover */
}

.city-text {
    color: white;
    position: absolute;
    opacity: 0;
}

.city:hover .city-text {
    opacity: 1;
    /* cursor: pointer; */

    transform: scale(1.1);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 190px;
    width: 260px;
    transition: 0.3s;
    cursor: pointer;
    /* shade on hover  */

}


.qr-section {
    display: flex;
    flex-wrap: wrap;
}

.qr-heading {
    padding-top: 40px;
    font-size: 16px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.qr {
    background-color: #e21b70;
    height: 340px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 34px;
}

.qr-inner-heading {
    color: white;
    font-size: 24px;
    padding-top: 50px;
}

.qr-code {
    width: 80px;
}

.qr-code-outer {
    width: 80px;
    border: 1px solid white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 6px;
    padding-top: 10px;
}

.qr-right-sec {
    display: flex;
    flex-wrap: wrap;
}

.qr-para {
    color: white;
    width: 320px;
    margin-left: 20px;
    line-height: 1.5;
}


.app-store {
    margin-right: 20px;
}

.google-play {
    margin-right: 20px;
}

.app-gallery {
    margin-right: 20px;
}

.adds {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap
}

.mobile {
    position: relative;
    /* top: 80%; */
    bottom: 110%;
    left: 10%;
}

.mobile-app-device {
    width: 650px;
    /* Adjust the size as needed */
    padding-left: 39%;

}

.office-heading {
    padding-left: 60px;
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 10px;
}

.bussiness-card {
    border-radius: 15px;
    height: 190px;
    width: 600px;
    border: 0px solid black;
    position: absolute;
    top: 690%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.office-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.all-text {
    display: block;
    justify-content: center;
    text-align: justify;
    align-items: start;
    padding: 120px 90px 10px;    
}

.start-heading {
    /* padding-top: 120px; */
    /* padding-left: 90px; */
    font-weight: 300;
}

.start-heading p {
    opacity: 0.8;
}


.last-text {
    padding-top: 100px;
    display: block;
    letter-spacing: 1px;
}

.last-text h4 span {
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.6;
    text-decoration: underline;
}

.end {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
}


.end h4 {
    cursor: pointer;
    text-decoration: underline;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: start;
    align-items: start;
}
.foot-text{
    padding-top: 6px;
    padding-left: 6px;
}

.line{
    display: flex;
}